.skills{
    width: 100%;
    height: 100vh;
    background-color: #0F0F0F;
}

.updiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downdiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
}

.contain{
    width: 80%;
    height: 75%;
    display: flex;
}

.up{
    height: 100%;
    width: 50%;
    border: 1px solid white;
}

#upa h1{
    margin: 5px 10px;
    color: white;
}