.container {
  background-color: #1a1a1a;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.heading {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(32px, 5vw, 56px);
  font-weight: 700;
  color: white;
  text-align: center;
  margin: 0;
  padding: 50px 20px 40px;
}

.masonry {
  width: 92%;
  margin: 0 4%;
  padding-bottom: 60px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    min-height: 160vh;
    width: 100vw;
  }
  
  .heading {
    font-size: clamp(28px, 7vw, 40px);
    padding: 30px 15px 25px;
  }
  
  .masonry {
    width: 94%;
    margin: 0 3%;
    padding-bottom: 40px;
  }
}