@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.heading {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #fff;
  font-family: 'VT323', monospace;
}

.calendarWrap {
  width: 100%;
  height: 100%;
  color: white;

  font-family: 'VT323', monospace;
}

