.navbar{
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    gap: clamp(85px,2vw,20px);
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: transparent;
    margin-top: 10px;
}

.name{
    color: rgb(0, 0, 0);
    font-size: clamp(17px,2vw,30px);
    font-weight: bold;
    flex-grow: 1;
    margin-left: clamp(10px,2vw,50px);
}

.links{
    text-decoration: none;
    display: flex;
    gap: clamp(15px, 2vw, 20px);
}

.a{
    color: rgb(0, 0, 0);
    font-size: clamp(12px,2vw,18px);
    text-decoration: none;
}