.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.pixel-card {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 4 / 5;
  border-radius: 25px;
  isolation: isolate;
  transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);
  user-select: none;
  
}

.pixel-card:hover::before,
.pixel-card:focus-within::before {
  opacity: 1;
}
