.stack-container {
  position: relative;
  perspective: 600px;
}

.card-rotate {
  position: absolute;
  cursor: grab;
}

.card {
  border-radius: 20px;
  border: 5px solid #000000;
  overflow: hidden;
}

.card-image {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile Styles */
@media (max-width: 480px) {
  .stack-container {
    width: 150px !important;
    height: 150px !important;
  }
  
  .card-rotate,
  .card {
    width: 150px !important;
    height: 150px !important;
  }
  .card{
    border: 2px black solid;
  }
}
